<form action="">
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      required
      name="email"
      ngModel
      #email="ngModel"
      (keyup)="setEmail($event)"
    />
    <mat-error *ngIf="email.invalid">Email is required</mat-error>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Password"
      type="password"
      required
      minlength="6"
      name="password"
      ngModel
      #password="ngModel"
      (keyup)="setPassword($event)"
    />
    <mat-error *ngIf="password.errors && password.errors.required">
      Password is required
    </mat-error>
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    [ngStyle]="{ backgroundColor: buttonColor }"
    (click)="summit()"
    class="login-button"
  >
    Sign In
  </button>

  <button
    mat-raised-button
    style="background-color: white;"
    (click)="googleSignin()"
    class="login-button"
  >
    Login with Google
  </button>
  <button
    mat-raised-button
    style="background-color: white;"
    (click)="goBack()"
    class="login-button"
  >
    Go back
  </button>
  <app-info-dialog></app-info-dialog>
</form>
