<div>
  <section
    class="mat-elevation-z3 top">
    <div>
      <img
        src="{{ user.photoURL }}"
        />

      <p class="displayName">
        {{ user.displayName }}
      </p>
      <p class="location">
        {{ user.location }}
      </p>
    </div>
  </section>

  <section class="sharedFilesTab">
    <h2 *ngIf="sharedFiles.length != 0">Shared Files</h2>
    <ul>
      <li *ngFor="let sharedFile of getSharedFiles(); let i= index">
        <app-file-reference-card [user]="me" [input]="sharedFile"></app-file-reference-card>
      </li>
    </ul>
    <div class="space"></div>
  </section>
</div>
