.sharedFilesTab {
  height: 100vh;
  overflow-y: auto;

  h2 {
    font-size: 27px;
    font-weight: normal;
  }
}

ul {
  list-style-position: inside;
  padding-left: 0;
}

.space {
  height: 380px;
}

li {
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}
