<div
  class="mat-elevation-z3"
  style="margin: 0px;
  padding: 0px;
  padding-top: 10%;
  text-align: center;
  padding-bottom: 5px;">
  <div>
    <img
      style="border-radius: 50%; width: 90px; height: 90px;"
      src="{{ user.photoURL }}"
      />

    <p style="font-size: 20px; margin-top: 20px; font-weight: 500;">
      {{ user.displayName }}
    </p>
    <p style="font-size: 15px; margin-bottom: 10px; font-weight: normal;">
      {{ user.location }}
    </p>
  </div>
</div>

<div style="text-align: center; width: 100%; padding-top: 5%;">
  <h1 *ngIf="sharedFiles.length != 0">Shared Files</h1>
  <ul>
    <li *ngFor="let sharedFile of sharedFiles">
      <app-file-reference-card [input]="sharedFile"></app-file-reference-card>
    </li>
  </ul>
</div>
