<div style="width: 100%;">
  <div class="scrollable" style="padding-top: 1%;">
    <ul>
      <li
        *ngFor="let message of messages; index as i"
        class="{{ message.who }}"
      >
        {{ message.message }}
      </li>
    </ul>
  </div>
  <div class="main" style="background-color: white;">
    <mat-form-field
      class="column"
      style="font-size: 20px; padding-left: 10px; width: 80%;"
    >
      <mat-label style="color: grey;">Type a Message</mat-label>
      <input matInput (input)="message = $event.target.value" type="text" />
    </mat-form-field>
    <div
      class="column"
      style="
        width: 400px;
        table-layout: fixed;
        margin-top: 20px;
        border-spacing: 10px;
        display: block;
      "
    >
      <div
        class="ColumnIcons"
        style="
          float: right;
          padding-left: 10px;
          padding-right: 10px;
          width: 80px;
        "
      >
        <button
          mat-button
          style="background-color: #69f0ae; color: white; width: 100%;"
          aria-label="icon send button"
          (click)="sendMessage()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <div
        class="ColumnIcons"
        style="float: right; padding-left: 10px; width: 80px;"
      >
        <button
          mat-button
          style="background-color: #303f9f; color: white; width: 100%;"
          aria-label="icon image button"
        >
          <mat-icon>image</mat-icon>
        </button>
      </div>
      <div
        class="ColumnIcons"
        style="float: right; padding-left: 10px; width: 80px;"
      >
        <button
          mat-button
          style="background-color: #303f9f; color: white; width: 100%;"
          aria-label="icon attachment button"
        >
          <mat-icon>attachment</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
