.column {
  float: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ColumnIcons {
  padding-top: 10px;
  display: table-cell;
}

// Scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 73, 73);
}

.scrollAble {
  height: 82.5vh;
  overflow-y: auto;
}

// Message Bubbles
.chat {
  list-style-type: none;
}

.deleteMessage-btn {
  color: rgb(236, 53, 53);
}

.chatBubble {
  margin: 0;
  margin-bottom: 3px;
  padding: 3px 15px;
  // padding: 5px 10px;
  font-size: 15px;
  font-weight: 400;
  clear: both;
  border-radius: 10px 10px 2px 2px;
}
// .chatBubble {
//   margin-bottom: 3px;
//   padding: 10px 20px;
//   // padding: 5px 10px;
//   clear: both;
//   border-radius: 10px 10px 2px 2px;
// }

.chatBubble--rcvd {
  background: #f2f2f2;
  color: black;
  float: left;
  border-bottom-right-radius: 10px;
}

.chatBubble--sent {
  background: #0066ff;
  color: white;
  float: right;
  border-bottom-left-radius: 10px;
}

.chatBubble--sent + .chatBubble--sent {
  border-top-right-radius: 2px;
}

.chatBubble--rcvd + .chatBubble--rcvd {
  border-top-left-radius: 2px;
}

.chatBubble--stop {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
