<div *ngIf="!receiver; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock><app-weather-status></app-weather-status></ng-template>
<ng-template #elseBlock>
  <div style="width: 100%;">
    <div class="scrollAble" style="padding-top: 1%;">
      <ul class="chat">
        <li *ngFor="let message of messages">
          <button mat-button [matMenuTriggerFor]="appMenu" class="{{
            message.class }}">
            {{ message.message }}
          </button>

          <mat-menu #appMenu="matMenu">
            <button mat-menu-item class="deleteMessage-btn"
              (click)="deleteMessage(message)">
              {{ me.uid === message.senderUid ? 'Delete Message for Everyone' :
              'Delete Message for me' }}
            </button>
          </mat-menu>

        </li>
      </ul>
    </div>
  </div>
</ng-template>
