<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align: center;"
      >SignIn or SignUp</mat-card-title
    >
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Sign Up">
        <mat-card-content>
          <app-signup-html-template></app-signup-html-template>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Sign In">
        <mat-card-content>
          <app-login-html-template></app-login-html-template>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
