<div class="main">
  <video
    autoplay
    muted
    loop
    oncanplay="this.play()"
    onloadedmetadata="this.muted = true"
    id="myVideo"
  >
    <div class="content">
      <h1>Heading</h1>
      <p>Lorem ipsum</p>
    </div>
    <source src="./../../assets/images/backgroundVideo.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>

  <div class="content">
    <app-navbar></app-navbar>

    <div class="split left">
      <div class="centered">
        <h1 class="title">Let's Chat</h1>

        <h2>Communicate with your Friends Easily</h2>
        <h2>Share Pictures and Videos of your Best Moments</h2>

        <p></p>

        <div style="padding-top: 50px;"></div>

        <button mat-raised-button color="white" (click)="openBottomSheet()">
          Get started
        </button>
      </div>
      <div class="right">
        <img
          src="./../../assets/images/Chat Menu.png"
          alt="Chat Preview image"
        />
      </div>
    </div>
  </div>
</div>
