<div class="colored" style="height: 45%;">
  <app-navbar></app-navbar>
  <div class="toplevel">
    <h1 style="font-size: 60px;">Let's Chat</h1>
    <div style="height: 8px;"></div>
    <p style="font-size: 18px;">A Web based Chat App</p>

    <div class="spacer"></div>

    <button mat-raised-button color="white">Get started</button>
  </div>
</div>

<div style="background-color: white; height: 55%;">
  <div class="lowerlevel" style="height: 100%;">
    <h3 style="font-size: 20px;">Want to Register or Login?</h3>

    <button mat-raised-button color="primary">Login</button>
    <span style="padding-right: 10px;"></span>
    <button mat-raised-button color="primary">Register</button>
  </div>
  <!-- <p>
    Some Text:
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold">Bold</mat-button-toggle>
      <mat-button-toggle value="italic">Italic</mat-button-toggle>
      <mat-button-toggle value="underline">Underline</mat-button-toggle>
    </mat-button-toggle-group>
  </p> -->
</div>
