<div class="colored" style="height: 45%;">
  <app-navbar></app-navbar>
  <div class="toplevel">
    <div style="padding-top: 15%;"></div>
    <h1 style="font-size: 60px;">
      Let's Chat
    </h1>
    <div style="padding-top: 10px;"></div>
    <p style="font-size: 18px;">A Web based Chat App</p>

    <div style="padding-top: 50px;"></div>

    <button mat-raised-button color="white">Get started</button>
  </div>
</div>

<div style="background-color: white; height: 55%;">
  <section class="lowerlevel" style="height: 100%;">
    <!-- <div class="split left">
      <div class="centered">
        <h2>Jane Flex</h2>
        <p>Some text.</p>
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <h2>John Doe</h2>
        <p>Some text here too.</p>
      </div>
    </div> -->
    <!-- <div style="height: 50%;"></div>
    <div class="lowerlevel">
      <img
        src="../../assets/images/phone.png"
        style="width: 30%; height: 30%;"
      />
    </div>
    <div class="lowerlevel">cool</div> -->
    <!-- <div class="test">a</div> -->
    <!-- <div style="padding-left: 10;"></div> -->
    <!-- <div class="test">b</div> -->
    <!-- <div class="test">c</div> -->
  </section>
</div>
