<mat-toolbar
  class="mat-elevation-z8"
  style="justify-content: space-between; position: fixed;"
>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon aria-hidden="false" aria-label="message icon">eco</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button
        mat-menu-item
        (click)="
          goToLink('https://github.com/SolomonRosemite/Angular-LetsChat')
        "
      >
        GitHub
      </button>
      <button mat-menu-item routerLink="settings">Settings</button>
      <button
        mat-menu-item
        (click)="
          goToLink(
            'https://docs.google.com/forms/d/e/1FAIpQLSfgNupcmVDMI8CHVJkCfJLslp2Sv2lT0mqkFOV_g2u-3Up6CA/viewform?usp=sf_link'
          )
        "
      >
        Feedback
      </button>
    </mat-menu>

    <button mat-button (click)="openBottomSheet()">Get started</button>
  </span>

  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <a>About</a>
    </button>
    <a routerLink="login" mat-button>Login</a>
    <a routerLink="signup" mat-raised-button color="accent">Sign Up</a>
  </span>
</mat-toolbar>
