section.body {
  width: 100%;
}

div.image {
  display: flex;
  align-items: center;

  section.col {
    float: left;
  }

  section.select {
    height: 100%;

    ul {
      margin: 0;
      padding: 0;
      margin-right: 2em;
      list-style: none;
    }

    img {
      height: 5em;
      width: 5em;
      margin-bottom: 1em;
      cursor: pointer;
    }
  }
}

image-cropper {
  max-width: 30em;
  max-height: 30em;
}

img {
  float: right;
  width: 30em;
  height: 30em;
}

footer {
  margin: 1.5em 0;

  button.Apply-btn {
    background-color: rgb(53, 236, 53);
    color: white;
    margin-right: 1em;
  }
  button.Upload-btn {
    background-color: white;
    color: black;
  }
  button.Cancel-btn {
    float: right;
    background-color: rgb(236, 53, 53);
    color: white;
  }
}
