<section class="body">
  <h1>Profile Picture</h1>

  <div class="image">
    <img
      *ngIf="croppedImage.length == 0"
      src="{{ photoURL }}"
      alt="Profile image"
    />
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [imageQuality]="40"
      [aspectRatio]="1 / 1"
      format="jpeg"
      (imageCropped)="imageCropped($event)"
    ></image-cropper>
  </div>
  <footer>
    <button class="Apply-btn" mat-raised-button (click)="saveImage()">
      Apply
    </button>
    <button
      class="Upload-btn"
      mat-raised-button
      (click)="upLoaderImage.click()"
    >
      Upload Image
    </button>
    <button class="Cancel-btn" mat-raised-button (click)="close()">
      Cancel
    </button>
  </footer>
</section>

<input
  hidden
  type="file"
  accept="image/png, image/jpeg"
  #upLoaderImage
  multiple="multiple"
  (change)="fileChangeEvent($event)"
/>
