<div class="container" [ngStyle]="{height: screenHeight + 'px'}">
  <h1 class="cityTitle">PARIS</h1>
  <h2 class="subTitle">TUESDAY 6:00 AM</h2>
  <img class="weatherIcon"
    src="./../../../assets/images/weather/iconfinder_Cloudy_Sunny_5729392.png"
    alt="weather icon">
  <h2 class="temperature">8°C</h2>

  <h6>GOOD MORNING</h6>

  <h6>PARIS</h6>

  <hr>

  <section class="weatherInfo">
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </section>

  <!-- <div class="wrapper"> -->

  <!-- <button class="button">Button</button> -->
  <!-- </div> -->

</div>
