<div class="container" [ngStyle]="{ height: screenHeight + 'px' }">
  <h1 class="cityTitle">PARIS</h1>
  <h2 class="subTitle">TUESDAY 6:00 AM</h2>

  <img
    class="weatherIcon"
    src="./../../../assets/images/weather/Cloudy_Sunny.png"
    alt="weather icon"
  />
  <h2 class="temperature">8°C</h2>

  <h6 class="default">GOOD MORNING</h6>
  <h6 class="default">USERNAME</h6>

  <section>
    <hr />

    <div class="weatherInfo">
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/sunrise.png"
          alt="sunrise image"
        />
        <h6 class="title">SUNRISE</h6>
        <h6 class="prop">6:00</h6>
      </span>
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/windy.png"
          alt="sunrise image"
        />
        <h6 class="title">WIND</h6>
        <h6 class="prop">4m/s</h6>
      </span>
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/sunrise.png"
          alt="sunrise image"
        />
        <h6 class="title">TEMPERATURE</h6>
        <h6 class="prop">8°C</h6>
      </span>
    </div>
  </section>
</div>
