<div class="container" [ngStyle]="{ height: screenHeight + 'px' }">
  <h1 class="cityTitle">{{ weatherStatus.city.toUpperCase() }}</h1>
  <h2 class="subTitle">{{ getFormattedDate(updateTrigger).toUpperCase() }}</h2>

  <!-- TODO: Load Image from variable -->
  <img
    class="weatherIcon"
    src="./../../../assets/images/weather/Cloudy_Sunny.png"
    alt="weather icon"
  />
  <h2 class="temperature">{{ weatherStatus.temperature }}°C</h2>

  <h6 class="default">GOOD {{ getTime().toUpperCase() }}</h6>
  <h6 class="default">{{ name.toUpperCase() }}</h6>

  <section>
    <hr />

    <div class="weatherInfo">
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/sunrise.png"
          alt="sunrise image"
        />
        <h6 class="title">SUNRISE</h6>
        <h6 class="prop">{{ weatherStatus.sunrise }}</h6>
      </span>
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/windy.png"
          alt="sunrise image"
        />
        <h6 class="title">WIND</h6>
        <h6 class="prop">{{ weatherStatus.wind }}m/s</h6>
      </span>
      <span>
        <img
          class="smallIcon"
          src="./../../../assets/images/weather/other/sunrise.png"
          alt="sunrise image"
        />
        <h6 class="title">TEMPERATURE</h6>
        <h6 class="prop">{{ weatherStatus.temperature }}°C</h6>
      </span>
    </div>
  </section>
</div>
