<mat-toolbar class="mat-elevation-z8" style="justify-content: space-between;">
  <span>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon aria-hidden="false" aria-label="message icon">eco</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>GitHub</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button mat-button>Get started</button>
  </span>

  <span>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>GitHub</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Help</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <a>About</a>
    </button>
    <a mat-button>Login</a>
    <a mat-raised-button color="accent">Sign In</a>
  </span>
</mat-toolbar>
