<div class="scroll">
  <section class="search">
    <mat-icon
      class="icon-display"
      aria-hidden="false"
      aria-label="search icon">search</mat-icon>
    <div
      class="wrap-input100 bg1 rs1-wrap-input100 textInput">
      <input
        class="input100"
        style="font-size: 17px; font-family: Roboto;"
        type="text"
        (keyup)="setSearchValue($event)"
        placeholder="Search Messenger"
        />
    </div>
  </section>
  <hr />
  <ul>
    <li *ngFor="let chatCard of foundUsers()">
      <app-chat-card [info]="chatCard"></app-chat-card>
    </li>
  </ul>
  <div style="height: 100px;"></div>
</div>
