<div class="scrollable" style="margin-top: 5px;">
  <div style="padding-top: 20px;"></div>
  <div style="padding-top: 10px; display: flex; padding-left: 20px;">
    <mat-icon
      class="icon-display"
      aria-hidden="false"
      aria-label="search icon"
      style="color: #b1b1b1;"
      >search</mat-icon
    >
    <div style="padding-left: 10px;"></div>
    <div
      class="wrap-input100 bg1 rs1-wrap-input100"
      style="width: 70%; margin-top: -8px; padding-right: 10px; height: 50%;"
    >
      <input
        class="input100"
        style="font-size: 17px; font-family: Roboto;"
        type="text"
        (keyup)="setSearchValue($event)"
        placeholder="Search Friend"
      />
    </div>
  </div>
  <hr />
  <ul>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
    <li><app-chat-card></app-chat-card></li>
  </ul>
  <div style="height: 100px;"></div>
</div>
