<button [matMenuTriggerFor]="appMenu" mat-button type="button" class="block">
  <mat-card class="mat-elevation-z0">
    <img src="{{ imageUrl }}"
      />
    <h6 class="name">
      {{ displayFilename(fileReference.filename) }}
    </h6>
    <h6 class="date">{{ transform(fileReference.date) }}‎‎‎‎‎‎‎‎‎‎‎‎‎‎‎‎‎‎</h6>
  </mat-card>
</button>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item (click)="viewFile()">
    View File
  </button>
  <button mat-menu-item (click)="downloadFile()">
    Download File
  </button>
</mat-menu>
