h6.name {
  font-size: 15px;
  font-weight: bold;
  margin: -8px;
  padding: 0px;
  line-height: 10px;
  padding-bottom: 5px;
}

h6.filetype {
  font-size: 15px;
  margin-left: -8px;
  line-height: 10px;
  font-weight: 400;
  padding: 0px;
}

h6.date {
  font-weight: 400;
  font-size: 15px;
}

button.chat {
  margin: 0;
  padding: 0;
}

.block {
  display: block;
  width: 100%;
  border: none;
  padding: 10px 25px 5px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
