<div class="main">
  <div class="row" style="height: 100%; z-index: 2; width: 100%;">
    <div style="padding-bottom: 60px;">
      <app-chat-navbar style="z-index: 3;"></app-chat-navbar>
    </div>
    <div
      class="column"
      style="background-color: white; height: 100%; width: 20%;">
      <div>
        <app-open-chats></app-open-chats>
      </div>
    </div>

    <div
      class="column"
      style="background-color: white; height: 100%; width: 60%;">
      <app-chat-messages-page></app-chat-messages-page>
      <div
        style="background-color: white;
        overflow: hidden;
        display: flex;
        margin-top: 18px;
        height: 100%;">
        <mat-form-field
          class="column"
          style="font-size: 20px; padding-left: 10px; width: 80%;">
          <mat-label style="color: grey;">Type a Message</mat-label>
          <input
            matInput
            (keydown)="sendMessage($event)"
            (input)="message= $event.target.value"
            type="text"
            autocomplete="off"
            [value]="message"
            />
        </mat-form-field>
        <div
          class="column"
          style="width: 400px;
          table-layout: fixed;
          margin-top: 20px;
          border-spacing: 10px;
          display: block;">
          <div
            class="ColumnIcons"
            style="float: right;
            padding-left: 10px;
            padding-right: 10px;
            width: 80px;">
            <button
              mat-button
              style="background-color: #69f0ae; color: white; width: 100%;"
              aria-label="icon send button"
              (click)="sendMessage(null)">
              <mat-icon>send</mat-icon>
            </button>
          </div>
          <div
            class="ColumnIcons"
            style="float: right; padding-left: 10px; width: 80px;">
            <button
              mat-button
              (click)="uploader.click()"
              style="background-color: #303f9f; color: white; width: 100%;"
              aria-label="icon image button">
              <mat-icon>image</mat-icon>
            </button>
          </div>
          <input hidden type="file" #uploader
            multiple="multiple"
            (change)="handleFileInput($event.target.files)" />
          <div
            class="ColumnIcons"
            style="float: right; padding-left: 10px; width: 80px;">
            <button
              mat-button
              (click)="uploader.click()"
              style="background-color: #303f9f; color: white; width: 100%;"
              aria-label="icon attachment button">
              <mat-icon>attachment</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="column"
      style="background-color: white; height: 100%; width: 20%;">
      <div>
        <app-chat-info></app-chat-info>
      </div>
    </div>
  </div>
</div>

<app-info-dialog></app-info-dialog>
