<app-chat-navbar></app-chat-navbar>

<div class="row" style="height: 100%; padding-top: 3%; width: 100%;">
  <div class="column" style="background-color: blue; height: 100%; width: 20%;">
    <div style="padding-top: 2%;">
      <h1>Search bar</h1>
    </div>
    <ul>
      <li>This</li>
      <li>Is</li>
      <li>Going to be</li>
      <li>Friends List</li>
    </ul>
  </div>

  <div
    class="column"
    style="background-color: lightblue; height: 100%; width: 62%;"
  >
    <div style="padding-top: 1%;">
      <h1>Main Chat</h1>
    </div>
  </div>

  <div
    class="column"
    style="background-color: lightcoral; height: 100%; width: 18%;"
  >
    <div style="padding-top: 2%;">
      <h1>User info</h1>
    </div>
  </div>
</div>
