<div class="main">
  <div class="row" style="height: 100%; z-index: 2; width: 100%;">
    <div style="padding-bottom: 3%;">
      <app-chat-navbar style="z-index: 3;"></app-chat-navbar>
    </div>
    <div
      class="column"
      style="background-color: white; height: 100%; width: 16%;"
    >
      <div>
        <app-open-chats></app-open-chats>
      </div>
    </div>

    <div
      class="column"
      style="background-color: white; height: 100%; width: 67%;"
    >
      <div>
        <app-chat-messages-page></app-chat-messages-page>
      </div>
    </div>

    <div
      class="column"
      style="background-color: white; height: 100%; width: 17%;"
    >
      <div>
        <app-chat-info></app-chat-info>
      </div>
    </div>
  </div>
</div>
