<button mat-button type="button" class="block">
  <div
    style="
      display: inline-flex;
      padding-left: 10px;
      padding-bottom: 5px;
      margin-left: -20px;
      justify-content: space-between;
      width: 100%;
    "
  >
    <span style="display: inline-flex;">
      <img
        style="
          border-radius: 50%;
          padding-left: 10px;
          width: 40px;
          height: 40px;
        "
        src="https://lh3.googleusercontent.com/a-/AOh14GgOBSyBIb67E7oB9fjjVEcZ8Wggdi5_2W3fyun3"
      />
      <div
        style="
          padding-top: 12px;
          padding-left: 20px;
          display: inline-block;
          text-align: start;
        "
      >
        <h6 class="name">{{ displayname }}</h6>
        <div style="padding-top: 5;"></div>
        <h6 class="message">{{ message }}</h6>
      </div>
    </span>
    <span>
      <h6 class="date">{{ lastSeen }}</h6>
    </span>
  </div>
</button>
