<button mat-button type="button" class="block">
  <div
    style="
      display: inline-flex;
      padding-left: 10px;
      padding-bottom: 5px;
      margin-left: -20px;
      justify-content: space-between;
      width: 100%;
    "
  >
    <span style="display: inline-flex;">
      <img
        style="
          border-radius: 50%;
          padding-left: 10px;
          width: 40px;
          height: 40px;
        "
        src="https://www.w3schools.com/howto/img_avatar2.png"
      />
      <div style="padding-left: 15px;">
        <h6 class="name">Jesse</h6>
        <h6 class="message">Hey.</h6>
      </div>
    </span>
    <span>
      <h6 class="date">Mon</h6>
    </span>
  </div>
</button>
