<mat-toolbar class="mat-elevation-z3">
  <span class="title">
    <div style="display: flex; padding-left: 10px">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon
          class="icon-display"
          aria-hidden="false"
          aria-label="leaf icon"
          >eco</mat-icon
        >
      </button>
      <mat-menu #appMenu="matMenu">
        <button
          mat-menu-item
          (click)="
            goToLink('https://github.com/SolomonRosemite/Angular-LetsChat')
          "
        >
          GitHub
        </button>
        <button
          mat-menu-item
          (click)="
            goToLink(
              'https://docs.google.com/forms/d/e/1FAIpQLSfgNupcmVDMI8CHVJkCfJLslp2Sv2lT0mqkFOV_g2u-3Up6CA/viewform?usp=sf_link'
            )
          "
        >
          Feedback
        </button>
      </mat-menu>
      <div style="padding-left: 10px"></div>
      <h2>Let's Chat</h2>
    </div>
  </span>

  <span class="middle">
    <div *ngIf="currentUser">
      <h1>{{ currentUser }}</h1>
      <h1 class="location">{{ location }}</h1>
    </div>
  </span>

  <span class="options">
    <button (click)="routeTo('addmessenger')" mat-button>
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-button (click)="routeTo('/settings')">
      <mat-icon aria-hidden="false" aria-label="settings icon"
        >settings</mat-icon
      >
    </button>
    <mat-menu #appMenu2="matMenu">
      <button mat-menu-item (click)="routeTo('addmessenger')">
        Add Messenger
      </button>
      <button mat-menu-item (click)="routeTo('/settings')">Settings</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu2">
      {{ me.displayName }}
      <span style="padding-left: 10px"></span>
      <img src="{{ me.photoURL }}" />
    </button>
  </span>
</mat-toolbar>
