<div class="main">
  <div class="split left">
    <div class="centered">
      <h1 class="title" style="color: white;">Not Created a Account yet?</h1>
      <p style="color: white;">Create a new Account here!</p>
      <button class="signButton" mat-raised-button>
        Sign Up
      </button>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <h1 class="title">Sign In</h1>
      <p>Sign In with Google or Email.</p>
      <button class="icon" mat-raised-button aria-label="Google Image">
        <img src="https://img.icons8.com/plasticine/2x/google-logo.png" alt="Google Icon" />
      </button>

      <form class="form">
        <mat-form-field class="fullWidth">
          <mat-label>Email</mat-label>
          <input matInput autocomplete="off" placeholder="Ex. email@example.com" />
        </mat-form-field>

        <mat-form-field class="fullWidth">
          <mat-label>Password</mat-label>
          <input autocomplete="off" matInput />
        </mat-form-field>
      </form>

      <button class="signButton" mat-raised-button>
        Sign In
      </button>
    </div>
  </div>
</div>
