<div class="main">
  <div class="split left">
    <button mat-button class="goBackButton" [routerLink]="['/']">
      <mat-icon aria-hidden="false" aria-label="goback icon">keyboard_arrow_left</mat-icon>
    </button>
    <div class="centered">
      <h1 class="title" style="color: white;">Already have an Account?</h1>
      <p style="color: white;">Then Welcome Back!</p>
      <p style="color: white;">You can Sign In here.</p>
      <button class="signButton" [routerLink]="['/signin']" mat-raised-button>
        Sign In
      </button>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <h1 class="title">Create Account</h1>
      <p>Sign Up with Google or Email.</p>
      <button
        class="icon"
        (click)="googleSignin()"
        mat-raised-button
        aria-label="Google Image">
        <img
          src="./../../../assets/images/google-logo.png"
          alt="Google Icon"
          />
      </button>

      <form (keydown)="onKeyDown($event)" class="form">
        <mat-form-field class="fullWidth">
          <mat-label>Name</mat-label>
          <input
            autocomplete="off"
            matInput
            [(ngModel)]="name"
            name="name"
            placeholder="Ex. Johnny"
            />
        </mat-form-field>

        <mat-form-field class="fullWidth">
          <mat-label>Email</mat-label>
          <input
            matInput
            autocomplete="off"
            [(ngModel)]="email"
            name="email"
            placeholder="Ex. email@example.com"
            />
        </mat-form-field>

        <mat-form-field class="fullWidth">
          <mat-label>Password</mat-label>
          <input
            autocomplete="off"
            type="password"
            [(ngModel)]="password"
            name="password"
            appPassword
            matInput
            />
        </mat-form-field>

        <mat-form-field class="fullWidth">
          <mat-label>Confirm Password</mat-label>
          <input
            autocomplete="off"
            type="password"
            [(ngModel)]="confirmPassword"
            name="confirmPassword"
            appPassword
            matInput
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select [(ngModel)]="gender" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{ gender.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-label style="color: #000;">Select Gender</mat-label>
        <mat-select>
          <mat-option style="color: #000;" *ngFor="let gender of gender"
            [value]="gender.value">
            {{gender.viewValue}}
          </mat-option>
        </mat-select> -->
      </form>

      <button class="signButton" (click)="onSubmit()" mat-raised-button>
        Sign Up
      </button>
    </div>
  </div>
</div>

<app-info-dialog></app-info-dialog>
